*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #222;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 95%;
    max-width: 700px;
    height: auto;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 20px;
    padding: 25px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

/* search section */
.search{
    width: 95%;
    margin: 0 auto;
    max-width: 590px;
    display: flex;
    gap: 8px;
}
#city{
    height: 50px;
    width: 100%;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    font-weight: 530;
    cursor: pointer;
    outline: none;
    padding-left: 2rem;
}
.search-cont{
    height: 52px;
    width: 59px;
    background-color: #fff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.search-icon{
    font-size: larger;
}

/* whether styles */
.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.center > *{
    margin-top: -7px;
}
.weather-icon{
    height: 200px;
    width: 200px;
}
.weather h1{
    font-size: 70px;
    font-size: 500;
}
.weather h2{
    font-size: 45px;
    font-size: 400;
}

.bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 15px;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin: 0 auto;
}
.col img{
    width: 50px;
}
.humidity,.wind{
    font-size: 25px;
    font-weight: 600;
}
.city{
    font-weight: 540;
}